---
import Layout from '@/layouts/PageLayout.astro';

import HeroIndex from '@/components/widgets/HeroIndex.astro';
import Note from '@/components/widgets/Note.astro';
import Features from '@/components/widgets/Features.astro';
import Steps from '@/components/widgets/Steps.astro';
import BlogLatestPosts from '@/components/widgets/BlogLatestPosts.astro';
import FAQs from '@/components/widgets/FAQs.astro';
import Brands from '@/components/widgets/Brands.astro';
import { CarouselHero } from '@/components/shadcn/CarouselHero';
import { CarouselOfertas } from '@/components/shadcn/CarouselOfertas'

const metadata = {
  title: 'Simplex — Indumentaria',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>

  <!-- Hero Widget ******************* -->

  <HeroIndex>
    <Fragment slot="title">
      ¡Descubrilo, vivilo, repite!
    </Fragment>

    <Fragment slot="subtitle">
      Nuestra indumentaria urbana, deportiva y para el tiempo libre está diseñada para 
      aquellos que valoran la elegancia minimalista y la comodidad sin renunciar a la calidad
      y el estilo.
    </Fragment>
  </HeroIndex>

  <!------------- Carousel ---------------------- -->

  <div class="mb-8 intersect-once intersect-quarter motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade">
    <CarouselHero client:load/>
  </div>
  

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="Encontrá"
    title="Básicos de Calidad"
    subtitle="En nuestro local comercial, nos enfocamos en proporcionar ropa básica y cómoda para la vida diaria, enfocada en la simplicidad y la versatilidad."
    items={[
      {
        title: 'Remeras',
        description:
          'Remeras de algodón de diseño clásico. Mangas cortas y también largas. Lista para acompañarte en tus próximas aventuras.',
        icon: 'shirt',
      },
      {
        title: 'Buzos',
        description:
          'Buzos cuello redondo y hoodies. Algodones rústicos y peinados. Aislamiento térmico, suave y cómodo. Ideal para usar en días frescos o en actividades al aire libre.',
        icon: 'hoodie-2',
      },
      {
        title: 'Pantalones',
        description:
          'Pantalones de jean, gabardina y otros textiles. Ideales para usar en cualquier ocasión.',
        icon: 'jean',
      },
      {
        title: 'Camperas',
        description:
          'Para las épocas más frias del año. Diseñadas para mantener el calor corporal. Cómodas y suaves, lo que las hace ideales para usar en actividades al aire libre.',
        icon: 'jacket',
      },
      {
        title: 'Accesorios',
        description:
          "Accesorios como medias, boxers, perfumes, supĺementos y más. Consultanos y dejate sorprender.",
        icon: 'underwear',
      },
      {
        title: 'Bags',
        description:
          'Nuestros Bags te hace la vida más simple. Morrales, riñoneras, mochilas entre otros complementan tu estilo.',
        icon: 'bag',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features>

  <!---------------- Carousel Ofertas ------------------------->

  <div class="p-2 md:p-10 intersect-once intersect-quarter motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade">
    <CarouselOfertas client:visible></CarouselOfertas>
  </div>

  

  <!-- Steps Widget ****************** -->

  <Steps
    title="Te damos la bienvenida a nuestra tienda virtual."
    items={[
      {
        title: 'Paso 1: <span class="font-medium">Explora</span>',
        description:
          "Nuestro catálogo está lleno de productos únicos y de alta calidad. Puedes buscar por categorías, para encontrar exactamente lo que estás buscando.",
        icon: 'tabler:search',
      },
      {
        title: 'Paso 2: <span class="font-medium">Selecciona</span>',
        description:
          "Añade los productos que te gustan al carrito de compras. Puedes ver el resumen de tus productos y actualizarlos fácilmente.",
        icon: 'tabler:shopping-cart',
      },
      {
        title: 'Paso 3: <span class="font-medium">Paga</span>',
        description:
          'Tenemos varias opciones de pago, como tarjetas de crédito, efectivo y transferencias.',
        icon: 'tabler:currency-dollar',
      },
      {
        title: 'Paso 4: <span class="font-medium">Recibe y Disfrutá</span>',
        description: 'Nuestros envíos son rápidos y fiables.  ¡Disfruta de tu nuevo producto!',
        icon: 'tabler:mood-smile-beam',
      },
    ]}
    image={{
      src: '/images/cart-illustration.svg',
      alt: 'Steps image',
    }}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Preguntas Frecuentes"
    subtitle="Preguntas frecuentes que podrían surgir relacionadas a nuestro local de indumentaria."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: '¿Qué tipo de indumentaria se vende?',
        description:
          "Nuestra tienda ofrece una amplia variedad de indumentaria para hombres y unisex, incluyendo ropa casual, deportiva, accesorios y más.",
      },
      {
        title: '¿Cuáles son los horarios de atención en el showroom?',
        description:
          'Nuestra local comercial está abierto de corrido de lunes a viernes de 16:00 a 20:30 y los sábados de 16:00 a 20:30 hs.',
      },
      {
        title: '¿Cómo puedo hacer un pedido en línea?',
        description:
          "Puedes hacer un pedido en línea en nuestro sitio web, seleccionando los productos que deseas en el carrito y descargando el pedido. El PDF descargado debe ser enviado por Correo electrónico, Formulario de contacto o Whatsapp y nos contactaremos a la brevedad.",
      },
      {
        title: "¿Qué métodos de pago son aceptados?",
        description:
          "Los tipos de pagos aceptados son Efectivo, Transferencias, Tarjetas de Débito y Crédito a través de lector Point de Mercado Pago.",
      },
      {
        title: '¿Qué es el plazo de envío para pedidos en línea?',
        description:
          "Nuestros pedidos en línea se envían dentro de las 72 horas hábiles después de recibir el pago. El plazo de entrega es de 3-5 días hábiles para pedidos dentro de la ciudad de Paraná.",
      },
      {
        title: '¿Tiene descuentos o promociones especiales?',
        description:
          "Sí, ofrecemos descuentos y promociones especiales en diferentes momentos del año. Puedes informarte en esta página web sobre noticias y ofertas exclusivas.",
      },
    ]}
    >

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </FAQs>

  <!---------------- Medios de Pago ------------------------->

  <Brands
    title="Formas de Pago"
    subtitle="Recibimos pagos en Efectivo, Transferencias, Tarjetas de Débito y Cŕedito."
    icons={[ 'cash', 'mp', 'visa', 'mastercard', 'maestro', 'naranja', 'nativa',
    'american-express', 'cabal', 'diners']}
    iconClass="w-16 h-16" 
    images={[]}
  />

  <!---------------- Financiación ------------------------->

  <Brands
    title="Cuotas Fijas"
    subtitle="Cuota Simple es un plan de financiamiento que te permite comprar en 3 o 6 cuotas con tu tarjeta de crédito."
    icons={[ 'mp', 'cuota-simple']}
    iconClass="w-36 h-36" 
    images={[]}
  />

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="Encontrá contenido de interés en el Blog"
    information={`Artículos sobre la industria textil, informática y tecnologías.`}
  />

</Layout>
