---
import { SITE } from 'astrowind:config';
import logoSimplexLight from '@/assets/images/logo-simplex-blanco.svg';
import logoSimplexDark from '@/assets/images/logo-simplex-black.svg';
---

<div class="flex items-center">
  <div class="logo-container">
    <div class="hidden md:block">
      <img
        src={logoSimplexDark.src}
        alt="Simplex Logo Dark"
        width="75"
        height="70"
        class="block dark:hidden"
        loading="eager"
        decoding="sync"
      />
      <img
        src={logoSimplexLight.src}
        alt="Simplex Logo Light"
        width="75"
        height="70"
        class="hidden dark:block"
        loading="eager"
        decoding="sync"
      />
    </div>
  </div>
  <span
    class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white"
  >
    {SITE?.name}
  </span>
</div>

<style>
  .logo-container {
    display: inline-flex;
    align-items: center;
  }
</style>
