---
import { SITE, UI } from 'astrowind:config';
import { Image } from 'astro:assets';
import logoSimplex from '@/assets/images/simplex-logo.png';
---

<Image src={ logoSimplex } alt="Simplex Logo" width="25" height="20"/>
<span
  class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white"
>
  {SITE?.name}
</span>
