---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import SalesList from '@/components/ecommerce/SalesList';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Ofertas',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero tagline="Oportunidades">
    <Fragment slot="title">
      Ofertas
    </Fragment>

    <Fragment slot="subtitle">
      Importantes descuentos en nuestros productos.
    </Fragment>
  </Hero>

  <!---------- Product List --------------------------->

  <div class="intersect-once motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade">
  <SalesList></SalesList>
  </div>  

  <!-- CallToAction Widget *********** -->

  <CallToAction>
    <Fragment slot="title">
      Visitanos
    </Fragment>
    <Fragment slot="subtitle">
      <span class="font-semibold">Todos los descuentos son al contado efectivo en nuestro showroom.</span>
    </Fragment>
  </CallToAction>

</Layout>
