---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import SalesList from '@/components/ecommerce/SalesList';

const metadata = {
  title: 'Ofertas',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero tagline="Oportunidades">
    <Fragment slot="title">
      Ofertas
    </Fragment>

    <Fragment slot="subtitle">
      Importantes ofertas en nuestros productos.
    </Fragment>
  </Hero>

  <!---------- Product List --------------------------->

  <div class="intersect-once intersect-quarter motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade">
  <SalesList></SalesList>
  </div>  

</Layout>
