---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import ProductList from '@/components/ecommerce/ProductList';
import { getProducts } from '@/lib/products';

// 1. Extraemos el estado de autenticación desde el servidor
const isLoggedIn = Astro.locals.pb.authStore.isValid;

// 2. Obtener productos DESDE POCKETBASE (servidor)
const products = await getProducts('pantalones');

console.log('Productos obtenidos:', products?.length || 0, 'productos');
console.log('Tipo de products:', typeof products);

const metadata = {
  title: 'Pantalones',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero tagline="Simplex Pantalones">
    <Fragment slot="title">
      Pantalones
    </Fragment>

    <Fragment slot="subtitle">
      Nuestros pantalones en tus dispositivos.
    </Fragment>
  </Hero>

  <!---------- Product List --------------------------->

  <div class="intersect-once motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade">
    <ProductList client:load products={products || []} isLoggedIn={isLoggedIn}></ProductList>
  </div>
  
</Layout>
