---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import Features2 from '~/components/widgets/Features2.astro';
import ProductList from '@/components/ecommerce/ProductList';

const metadata = {
  title: 'Remeras',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero tagline="Simplex Remeras">
    <Fragment slot="title">
      Remeras
    </Fragment>

    <Fragment slot="subtitle">
      Nuestras remeras en tus dispositivos.
    </Fragment>
  </Hero>

  <!---------- Product List --------------------------->

  <div class="intersect-once intersect-quarter motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade">
  <ProductList client:load category="remeras"></ProductList>
  </div>  

  <!-- Features2 Widget ************** -->

  <Features2
    title="About us"
    subtitle="We believe in the magic of turning dreams into stunning realities. Founded by passionate developers with a shared vision, we set out to simplify the website creation process. Our templates bring together the innovation of Astro 4.0 and the versatility of Tailwind CSS, enabling you to express your unique brand identity like never before."
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

</Layout>
