---
import Layout from '@/layouts/PageLayout.astro';
import Hero from '@/components/widgets/Hero.astro';
import ProductList from '@/components/ecommerce/ProductList';

// 1. Extraemos el estado de autenticación desde el servidor
const isLoggedIn = Astro.locals.pb.authStore.isValid;

const metadata = {
  title: 'Remeras',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero tagline="Simplex Remeras">
    <Fragment slot="title">
      Remeras
    </Fragment>

    <Fragment slot="subtitle">
      Nuestras remeras en tus dispositivos.
    </Fragment>
  </Hero>

  <!---------- Product List --------------------------->

  <div class="intersect-once motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade">
  <ProductList client:load category="remeras" isLoggedIn={isLoggedIn}></ProductList>
  </div>  

</Layout>
